################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0
/.vs/german-elections-2025
/obj
/german-elections-2025.csproj.user
/german-elections-2025-ui/german-elections-2025-ui/bin/Debug/net8.0
/german-elections-2025-ui/german-elections-2025-ui/obj
/german-elections-2025-ui/german-elections-2025-ui/german-elections-2025-ui.csproj.user
/german-elections-2025-ui/german-elections-2025-ui.Client/bin/Debug/net8.0
/german-elections-2025-ui/german-elections-2025-ui.Client/obj
